:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.savebtn {
  background-color: #9dcae8;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.15s ease;
}

.savebtn:hover {
  background-color: hsl(327, 100%, 49%);
  transform: scale(1.05);
}

.savebtn:active {
  transform: scale(0.95);
}

.country-card {
  cursor: pointer;
  transition: all 0.2s ease;
}

.country-card:hover {
  transform: translateY(-6px);
}

.country-card:active {
  transform: scale(0.98);
}
